.admin_img {
    width: 9rem;

    @media (min-width: 480px) {
        width: 12rem;
    }

    @media (min-width: 768px) {
        width: 16rem;
    }


    @media (min-width: 1024px) {
        width: 20rem;
    }
}