.login-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100%;
    // background: rgba(255,255,255, 1);
    background: #F7F7F7;
    padding: 0.5rem;
    margin: 0;
}
.logo-img{
    height: 12rem;
    width: 12rem;
    margin-bottom: 2rem;
    background-image: url('../img/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: right;
    height: 82.5%;
    width: 100%;
    overflow-y: scroll;

    
    label{
        font-size: 1rem;
        margin: 0.5rem;
    }
}
.login-form input,label{
    font-size: 1.15rem;
    padding: 0.25rem;
}
.form-btn-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn-register{
    margin-left: 1rem;
}
