.nav-btn{
    height: 3rem;
    background-color: rgba(255,255,255,0.7);
}
.dropdown-menu{
    height: 6rem;
    width: 12vw;
    background-color: #D6006E;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}
.user-icon{
    font-size: 2rem;
    // background: url('../images/logo.svg');
    // background-repeat: no-repeat;
    // background-position: center;
    // height: 4rem;
    // width: 4rem;
    // margin-top: -1rem;
    color: #D6006E;
}