.nav-btn{
    height: 3rem;
    background-color: rgba(255,255,255,0.7);
}
.dropdown-menu{
    height: 6rem;
    width: 12vw;
    background-color: #D6006E;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}
.user-icon{
    font-size: 2rem;
    /* color: #1e1e1e; */
    color: #D6006E;
}